
.dashboard-container {
  max-width: 910px;
}

.dashboard-table {
  border-collapse: collapse;
  margin-top: 20px;
}
  
  .dashboard-table th, .dashboard-table td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
  }
  
  .dashboard-table th {
    font-size: medium;
    background-color: rgb(230, 230, 123);
  }
  
  .dashboard-table tr:nth-child(even) {
    background-color: #e0e0e0; 
  }
  
  .wheat-box {
    max-width:100%;
    margin: auto;
    padding: 70px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border: 4px solid #fcfcfc;
    justify-content: center; 
  }
  .blackborder{
    padding: 7px;
    background-color: #1e7adc;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .underline-link {
    text-decoration: underline;
    cursor: pointer; 
  }
  .goback-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
  }
  
  .goback-button {
    background-color: rgb(73, 206, 216); 
    color: #ffffff;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .goback-button:hover {
    background-color:  rgb(131, 209, 214);
  }
  
  h3 {
    color: #333;
    text-align: center;
  }

  .text-style {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    color: #333;
  }
  
.button-container-2 {
  display: flex;
  justify-content: space-between;
  margin: 20px auto; 
}

.pagination-button {
  padding: 10px 15px;
  font-size: 14px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}
